@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
  font-family: sans-serif;
}

h1 {
  font-family: 'Roboto Mono', monospace;
}

a {
  text-decoration: none;
  color:black
}

.header {
  font-family: 'Roboto Mono', monospace;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

#title {
  display: flex;
  align-items: baseline;
}

.header h1 {
  margin-right: 40px;
}

.links-sidebar {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.links-sidebar a {
  margin-bottom: 20px;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#homepage-animation {
  position: relative;
}

#notes-animation {
  position: absolute;
  right: 350px;
  top: -50px;
  z-index: 1;
}

#loops-codeblock {
  width: 390px;
  height: 300px;
}

#codeblock-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#notes-label-div {
  display: flex;
  align-items: center;
}

#notes-label-div label{
  margin-right: 20px;
}

#notes-label-div p{
  color: red
}

