@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

@keyframes slideUp {
  0% {
    transform: translateY(15%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

body {
  font-family: sans-serif;
  margin: 0;
  overflow: hidden;
}

.parent-div {
  margin: 10px;
}

h1 {
  font-family: 'Roboto Mono', monospace;
}

a {
  text-decoration: none;
  color:black
}

.header {
  width: 100%;
  font-family: 'Roboto Mono', monospace;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 0 20px 10px 20px;
  color: white;
  background-color: rgb(39, 39, 230);
  line-height: .5;
}

.navbar {
  margin-right: 35px;
  
}

#title {
  display: flex;
  align-items: baseline;
}

.header h1 {
  font-size: 48px;
  margin-right: 25px;
}

.greeting {
  text-align: right;
  font-size: 14px;
  font-family: 'Roboto Mono', monospace;
  margin: 30px 20px 20px 0;
}

.links-sidebar {
  position: fixed;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 77vh;
  border-right: solid gray 1px;
}

#sidebar-header {
  font-family: 'Roboto Mono', monospace;
  font-size: 20px;
  margin-bottom: 30px;
}

.links-sidebar a {
  font-size: 20px;
  margin-bottom: 20px;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
  color: white;
}

form div {
  margin: 1em;
  display: inline-block;
}

#hero-text {
  animation: 1s ease-in 0s 1 slideUp;
  position: fixed;
  left: 22%;
  top: 20%;
}

#hero-text h1 {
  font-size: 100px;
}

#hero-text p {
  font-size: 25px;
  margin-left: 50px;
}

#homepage-animation {
  position: relative;
  width: 100vw;
}

#notes-animation {
  position: absolute;
  top: -90px;
  left: 47%;
  z-index: 1;
  pointer-events: none;
}

#laptop-animation {
  top: 100px;
  left: 55%;
  position: absolute;
  pointer-events: none;
}

#loops-codeblock {
  width: 390px;
  height: 300px;
}

#codeblock-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#notes-label-div {
  display: flex;
  align-items: center;
}

#notes-label-div label{
  margin-right: 20px;
}

#notes-label-div p{
  color: red
}

#tree-container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tier {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.level1 {
  width: 200px;
}

.level2 {
  width: 300px;
}

.level3 {
  width: 400px
}

.left-branch, .right-branch {
  width: 150px;
  display: flex;
  justify-content: space-between;
}

.node {
  display: flex;
  font-size: 24px;
  justify-content: center;
  align-items: center;
  border: solid black 2px;
  border-radius: 50%;
  width: 50px;
  height: 50px;

}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 200px;
  height: 200px;
  margin-left: 20px;
}

.selected-node {
  color: red;
  border-color: red;
}